*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

main {
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}

nav {
    grid-area: nav;
    height: 10vh;
    width: 100vw;
    background-color: #25527b;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.25rem;
}

aside {
    grid-area: aside;
    height: 100%;
    width: 15vw;
    background-color: #e7e7e7;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
}

.aside-tittle {
    padding-bottom: 1.5rem;
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: #393d45;
}

.aside-categories {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: #393d45;
    font-size: 1.25rem;
}

.aside-categories span {
    color: #393d45;
    opacity: 60%;
}

.product-gallery {
    grid-area: product-gallery;
    height: 100%;
    width: 85vw;
    background-color: #e7e7e7;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    padding: 2rem;
}

footer {
    grid-area: footer;
    height: 10vh;
    width: 100vw;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.grid-container {
    display: grid;
    background-color: green;
    grid-template-areas:
        "nav nav"
        "aside product-gallery"
        "footer footer";
}

.product-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-between;
}

.product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    row-gap: 1.25rem;
    padding-bottom: 1.5rem;
    height: auto;
}

.product-name {
    font-size: 1.7rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #393d45;
    font-family: "Open Sans", sans-serif;
}

.product-price {
    font-size: 1.25rem;
    color: #393d45;
}

.product-buy-button {
    border: none;
    background-color: #25527b;
    color: white;
    width: 100%;
    padding: 1rem 2rem;
}

img {
    height: auto;
    object-fit: cover;
    padding: 0 1.5rem 0 1.5rem;
}

button {
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
    letter-spacing: 0.5px;
}
